@model Bookflix.Models.Book

@{
    ViewData["Title"] = "Edit";
    var categories = (List<SelectListItem>)ViewData["CategoryIDs"];

}


<div class="Books-Create">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="text-center font-h1">Edit</h1>
                <h4 class="text-center font-h4">Book</h4>
                <hr />
                <div class="row">
                    <div class="col-md-6 offset-md-3">

                        <img src="@("~/img/books-img/"+Model.ImageName)" asp-append-version="true"></img>
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ISBN" />
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PublicationYear" class="control-label"></label>
                                <input asp-for="PublicationYear" class="form-control" />
                                <span asp-validation-for="PublicationYear" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PagesNo" class="control-label"></label>
                                <input asp-for="PagesNo" class="form-control" />
                                <span asp-validation-for="PagesNo" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                <label asp-for="ImageFile" class="control-label"></label>
                                <input asp-for="ImageFile" accept="image/*"/>
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                                </div>*@
                            <div class="form-group">
                                <label asp-for="StockNo" class="control-label"></label>
                                <input asp-for="StockNo" class="form-control" />
                                <span asp-validation-for="StockNo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PublisherID" class="control-label"></label>
                                <select asp-for="PublisherID" class="form-control" asp-items="ViewBag.PublisherID"></select>
                                <span asp-validation-for="PublisherID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AuthorID" class="control-label"></label>
                                <select asp-for="AuthorID" class="form-control" asp-items="ViewBag.AuthorID"></select>
                                <span asp-validation-for="AuthorID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BookType" class="control-label"></label>
                                <select asp-for="BookType" class="form-control" asp-items="Html.GetEnumSelectList<BookType>()"></select>
                                <span asp-validation-for="BookType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CoverType" class="control-label"></label>
                                <select asp-for="CoverType" class="form-control" asp-items="Html.GetEnumSelectList<CoverType>()"></select>
                                <span asp-validation-for="CoverType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PublishingType" class="control-label"></label>
                                <select asp-for="PublishingType" class="form-control" asp-items="Html.GetEnumSelectList<PublishingType>()"></select>
                                <span asp-validation-for="PublishingType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Categories" class="control-label"></label>
                                @foreach (var item in categories)
                                {
                                    <div>
                                        <input type="checkbox" id="@item.Value" name="cats" checked="@item.Selected" value="@item.Value" class="">
                                        <label for="@item.Value">@item.Text</label>
                                    </div>
                                }
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <a class="Back-To-List" asp-action="Index">
                                    <i class="bi bi-arrow-left"></i>Back to List
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

                @section Scripts {
                @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
                }
            </div>
        </div>
    </div>
</div>