@model Bookflix.Models.Book
@{
    var Cats = (List<Category>)ViewBag.Categories;
}

<div class="modal fade" id="bookDetails" tabindex="-1" role="dialog" aria-labelledby="bookDetailsTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookDetailsTitle">@Model.Title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col modal-body" style="grid-template-columns:1fr 1fr;">
                <h3 class="mb-3">@Model.Description</h3>

                <div class="book-details-img">
                    <img src="@("~/img/books-img/"+Model.ImageName)" asp-append-version="true" alt="@Model.Title">
                </div>

                <div class="book-details-body">
                    <span class="data"><b>Author:</b> @Model.Author?.Name</span>
                    <span class="data"><b>Publisher:</b> @Model.Publisher?.Name </span>
                    <span class="data"><b>Publisher Year:</b> @Model.PublicationYear.Day/@Model.PublicationYear.Month/@Model.PublicationYear.Year </span>
                    <span class="data">
                        <b>Categories:</b>
                        @{

                        }
                        @for (var i = 0; i < Model?.Categories.Count; i++)
                        {
                            var cat = Cats.FirstOrDefault(x => x.ID == (Model.Categories.ToList()[i]).CategoryID);
                            <span style="padding:5px; font-size:10px; border: 1px solid black; border-radius:10px;">@cat.Name</span>
                        }
                    </span>
                    <span class="data"><b>Pages:</b> @Model.PagesNo </span>
                    <span class="data">
                        <b>Status:</b>
                        @if (Model.StockNo > 0)
                        {
                            <span class="text-success">Available</span>
                        }
                        else
                        {
                            <span class="text-danger">Not Available</span>
                        }
                    </span>
                    <span class="data"><b>Cover Type:</b> @Model.CoverType </span>
                    <span class="data"><b>Publishing Type:</b> @Model.PublishingType </span>
                    <span class="data"><b>Book Type:</b> @Model.BookType </span>


                    <span class="data"><b>Price:</b>  @Model.Price EGP.</span>
                </div>

            </div>
            <div class=" modal-footer" style="float:left;">
                <a asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.ISBN"><button class="btn essence-btn col-12">Add to Cart</button></a>
            </div>
        </div>
    </div>
</div>