@model IEnumerable<Book>

@{
    ViewData["Title"] = "Books";
    var numOfPages = (int)ViewBag.NumberOfPages;
    var activePage = (int)ViewBag.activePage;
    var categories = (List<SelectListItem>)ViewBag.categories;
    var booktypes = (List<SelectListItem>)ViewBag.booktypes;
    var covertypes = (List<SelectListItem>)ViewBag.covertypes;
    var publishingtypes = (List<SelectListItem>)ViewBag.publishingtypes;
}

<div class="col">
    <div class=row>
        <div class="col-3 col">
            <form asp-action="Index" method="post">

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header btn" id="headingOne"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h5 class="mb-0">
                                    Book Type
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                @foreach (var item in booktypes)
                                {
                                    <div>
                                        <input type="checkbox" id="@item.Value" name="booktypes" checked="@item.Selected" value="@item.Value" class="">
                                        <label for="@item.Value">@item.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="headingTwo">
                            <h5 class="mb-0">
                                    CoverType
                                @*<button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                </button>*@
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                @foreach (var item in covertypes)
                                {
                                    <div>
                                        <input type="checkbox" id="@item.Value" name="covertypes" checked="@item.Selected" value="@item.Value" class="">
                                        <label for="@item.Value">@item.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="headingThree">
                            <h5 class="mb-0">
                                    Publishing type
                                @*<button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                </button>*@
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                @foreach (var item in publishingtypes)
                                {
                                    <div>
                                        <input type="checkbox" id="@item.Value" name="publishingtypes" checked="@item.Selected" value="@item.Value" class="">
                                        <label for="@item.Value">@item.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header btn" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" id="headingFour">
                            <h5 class="mb-0">
                                    Categories
                                @*<button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                </button>*@
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                @foreach (var item in categories)
                                {
                                    <div>
                                        <input type="checkbox" id="@item.Value" name="categories" checked="@item.Selected" value="@item.Value" class="">
                                        <label for="@item.Value">@item.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <input type="submit" value="Apply Filers" class="btn btn-secondary btn-block mybtnhatem mt-1" />
                    <input type="submit" value="Reset Filters" class="btn btn-secondary btn-block" />
                </div>
            </form>
        </div>



        <div class="container row justify-content-center col-8 p-2" id="test">
            @foreach (var item in Model)
            {
                <div class="card book-card ml-5 m-1" style="width: 16rem; height:fit-content;">

                    <div class="book-card text-center">
                        <img class="card-img-top book-card-img" src="@("~/img/books-img/"+@item.ImageName)" asp-append-version="true" alt="@item.Title">
                        <button href="javascript:void(1);" data-id="@item.ISBN" class="viewDetailsBtn book-card-btn">Quick Look</button>
                    </div>

                    <div class="card-body book-card-body">
                        <h5 class="card-title">
                            <span style="top: -0.5em; position:relative; font-size: 15px;">EGP</span>
                            <span>@item.Price</span>
                        </h5>
                        <span style="font-size:16px">@item.Title</span>
                        <br>
                        <span class="book-card-description" style="font-size:16px;">
                            @item.Description
                        </span>
                    </div>
                </div>
            }
            <div id="detailsModal">
            </div>

        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item @(activePage == 1 ?  "disabled": string.Empty) ">
                <a class="page-link" asp-action="Index" asp-route-activePage="@(activePage-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @* should loop this*@
            @for (int i = 1; i <= numOfPages; ++i)
            {
                if (i == activePage)
                {
                    <li class="page-item active" asp-action="Index" asp-route-activePage="@i">
                        <a class="page-link">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-activePage="@i">@i</a>
                    </li>
                }
            }
            <li class="page-item @(activePage == numOfPages ?  "disabled": string.Empty)">
                <a class="page-link" asp-action="Index" asp-route-activePage="@(activePage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


@section scripts
        {
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>

    (function () {
        var TeamDetailPostBackURL = '/Book/Details';
        $(".viewDetailsBtn").click(function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": true, keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                success: function (data) {
                    $('#detailsModal').html(data);
                    $('#bookDetails').modal(options);
                    $('#bookDetails').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
    }());

</script>
}
@*@await Html.PartialAsync("_CreateItem", "Movies") *@