@model IEnumerable<Book>

@{
    ViewData["Title"] = "List of Movies";
}

<div class="container row justify-content-center col-8 p-2" id="test">
    @foreach (var item in Model)
    {
        <div class="card book-card ml-5" style="width: 16rem; height:fit-content;">

            <div class="book-card text-center">
                <img class="card-img-top book-card-img" src="@("~/img/books-img/"+@item.ImageName)" asp-append-version="true" alt="@item.Title">
                <button href="javascript:void(1);" data-id="@item.ISBN" class="viewDetailsBtn book-card-btn">Quick Look</button>
            </div>

            <div class="card-body book-card-body">
                <h5 class="card-title">
                    <span style="top: -0.5em; position:relative; font-size: 15px;">EGP</span>
                    <span>@item.Price</span>
                </h5>
                <span style="font-size:16px">@item.Title</span>
                <br>
                <span class="book-card-description" style="font-size:16px;">
                    @item.Description
                </span>
            </div>
        </div>
    }
    <div id="detailsModal">

    </div>
</div>


@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>

        (function () {
            var TeamDetailPostBackURL = '/Book/Details';
            $(".viewDetailsBtn").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": true, keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#detailsModal').html(data);
                        $('#bookDetails').modal(options);
                        $('#bookDetails').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
        }());

    </script>
}
@*@await Html.PartialAsync("_CreateItem", "Movies") *@